<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Bank and Yui </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong
      >Namo
      <div>Nakrit thomthitchong</div>
    </strong>
    <div>24/07/2013</div>
    <div>I love Ionic framework 6.0</div>
    <div>
      <strong> Git commands </strong>
      <ul>
        <li>git status</li>
        <li>git add .</li>
        <li>git commit -m "Minecraft game"</li>
        <li>git push</li>
        <li>git pull</li>
      </ul>
    </div>
  </div>
</ion-content>
